:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="container"], 
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 2rem 0;
  }
 .link{
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: 6px 15px;
    transition: all 0.3s ease;
}
.link:hover{
    background-color: var(--primary);
}

  /* Header */
  .header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url('/img/header.jpg');
    background-size: cover;
    background-position: center;
    padding: 7rem 1rem;
  }
  .header .bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .bar .logo{
    width: 25rem;
  }
  .header .bar .nav a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 5px 6px;
    transition: all 0.4s ease;
  }
  .header .bar .nav a:hover, .header .active{
    background-color: var(--primary);
  }
  .header .bar .nav{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .nav img{
    width: 3rem;
  }
  @media (min-width: 768px){
    .header .bar{
      flex-direction: row;
    }
    .header .bar .nav{
      margin-top: 0;
    }
  }

  /* Footer */
.footer{
  background-color: var(--black);
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer .nav{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .nav a,
.copyright{
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.footer .nav a:last-child{
  display: none;
}
.footer .nav a:hover{
  color: var(--primary);
}
.footer .copyright{
  font-size: 1.3rem;
}

@media (min-width: 768px){
  .footer{
    flex-direction: row;
  }
  .footer .nav{
    flex-direction: row;
  }
}

/* error */
.error{
  margin-top: 4rem;
}
.error,
.error-link{
  text-align: center;
  font-size: 2rem;
}
.error-link{
  display: block;
  color: var(--primary);
  text-decoration: none;
  margin-bottom: 4rem;
}
.error-link:hover{
  text-decoration: underline;
}